body {
  padding-top: 80px; 
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 70px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li > a {
  margin: 0px;
  color: white;
  padding: 40px;
  display: flex;
}

.navbar {
  top: 0;
  left: 0;
  width: 100vw;
  position:fixed;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > h1 {
  margin-left: 147px;
}

.drop-down {
  position: relative;
}

.drop-down-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out, 150ms ease-in-out;
  transform: translateY(-10px);
}

.drop-down > a:hover + .drop-down-items {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.drop-down:hover .drop-down-items {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.drop-down-items a:hover{
  background-color: wheat;
  color:black;
}

.drop-down-items > a {
  background-color: black;
  width: 8rem;
  color: white;
  padding: 40px 0;
  text-align: center;
}

.drop-down + a{
  cursor:default;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main__content h1{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 77px;
line-height: 105px;
/* identical to box height */

text-align: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.main__content p{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24;
line-height: 168.68%;

text-align: center;
color: #000000;

}

.main__btn{
  text-align: center;
  margin: auto;
  display: flex;
  display: grid;
  font-size:1rem;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.membership-card__content{
display: flex;
flex-direction: column;
align-items: flex-start;
text-align: left;
}

.membership-card__content h1{
font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 52px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

white-space: nowrap;
overflow: visible;

color: #000000;

display: block;
}

.membership-card__content img {
display: block;
margin: 0 auto;
max-width: 100%;
margin-top: 10px;
width: 400px;
height: auto;
align-self: flex-start;
}

.membership-card__price {
display: flex;
flex-direction: column;
font-family: 'Open Sans';
font-style: normal;
font-size: 20px;
line-height: 41px;
}

.membership-card__price h3 {
font-weight: 600;
text-transform: capitalize;
color: #0C1424;
}

.membership-card__price p {
font-weight: 400;
color: #000000;
}

#membership-card__purchase-button {
color: #0C1424;
align-self: flex-end;
}



.uta-sponsors__content {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;

color: #000000;
}

.uta-sponsors__content h1{
font-size: 30px;
line-height: 52px;
text-transform: uppercase;
}

.uta-sponsors__logos {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px; /* Optional: Add spacing between images */
}

.uta-sponsors__logo-wrapper{
text-align: center;
}

.uta-sponsors__logo-wrapper img {
max-width: 100%;
}

.uta-sponsors__discount {
margin-top: 5px;
}

.merch__content {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;

color: #000000;
}

.merch__content h1{
font-size: 30px;
line-height: 52px;
text-transform: uppercase;
}

.merch__price img {
display: block;
margin: 0 auto;
max-width: 100%;
margin-top: 10px;
height: 600px;
width: auto;
align-self: flex-start;
}

.merch__price h3 {
font-weight: 600;
text-transform: capitalize;
color: #0C1424;
}

.merch__price p {
font-weight: 400;
color: #000000;
}

#merch__purchase-button {
color: #0C1424;
align-self: flex-end;
}



