/* CSS for the navigation bar */

body {
    padding-top: 80px;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 70px;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  li > a {
    margin: 0px;
    color: white;
    padding: 40px;
    display: flex;
  }
  
  .navbar {
    top: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar > h1 {
    margin-left: 147px;
  }
  
  .drop-down {
    position: relative;
  }
  
  .drop-down-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, 150ms ease-in-out;
    transform: translateY(-10px);
  }
  
  .drop-down > a:hover + .drop-down-items {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }
  
  .drop-down:hover .drop-down-items {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
  }
  
  .drop-down-items a:hover {
    background-color: wheat;
    color: black;
  }
  
  .drop-down-items > a {
    background-color: black;
    width: 8rem;
    color: white;
    padding: 40px 0;
    text-align: center;
  }
  
  .drop-down + a {
    cursor: default;
  }
  
  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
  .Title__h1 {
    margin-top: 4rem;
    text-align: center;
    font-size: 4rem;
    background-size: 100%;
  }
  
  .Title__p {
    text-align: center;
    margin-top: 1rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  
  .event-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  body {
    margin: 5rem;
  }
  
  .Upcoming__h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .event {
    width: 30%;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 2.5rem;
  }
  
  .event img {
    width: 100%;
    height: auto;
  }
  
  .event h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .event p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .event button {
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 4px;
    /* padding: 8px 12px; */
    cursor: pointer;
  }
  
  /* Entire past events section */
  .past__container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* View Event Gallery hover */
  .past__title {
    width: 100%;
    margin-top: 3rem;
  }
  
  /* Past Events title */
  .past__title h2 {
    display: inline;
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* 2022-23 */
  .past__title h3 {
    margin-top: 3rem;
  }
  
  /* View Event Gallery */
  .past__title button {
    text-align: right;
    display: inline;
    border: none;
    background-color: #fff;
    cursor: pointer;
    float: right;
    text-decoration: underline;
    padding-top: 20px;
  }
  
  /* View Event Gallery hover */
  .past__title button:hover {
    color: #007bff;
  }
  