body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	padding: 5%;
	border: 1px solid;
}

.header {
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: space-between; */
	max-width: 50%;
	/* margin-top: 5%; */
	/* padding: 2%; */
}

h2{
	/* height: 164px;
	width: 589px; */
	font-size: 30px;
}

h3{
	/* height: 164px;
	width: 589px; */
	font-size: 20px;
	font-weight: normal;
}

#header-left h1{
    justify-content: center;
    align-items: center;
    /* height: 164px;
    width: 584px; */
    font-size: 50px;
	/* line-height: 81.92px; */
}

#header-buttons{
	/* display: inline-block;
    padding: 20px 46px 20px 46px;
    margin-bottom: 169px; */
    font-size: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 40px;
	/* width: 442px;
	height: 62px; */
}

#header-right{
	width: 40%;
	border: 1px solid;
}

#join{
	text-align: center;
	margin-top: 5%;
}

#stats{
	font-weight: bold;
}

#upcoming-events{
	margin-top: 5%;
}

.events{
	display: flex;
	flex-direction: row;
}

.events img{
	width: 80%;
}

.events div{
	align-items: center;
	display: flex;
	flex-direction: column;
}

.view-events{
	text-align: center;
}

#sponsors{
	margin-top: 5%;
}

.row-1, .row-2{
	display: flex;
	flex-direction: row;
}

.row-1 img, .row-2 img{
	width: 35%;
}

.sponsor-benefits{
	text-align: right;
	padding: 5%;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fefefe;
	position: relative;
	margin: 20% auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 50%;
	height: 30%;
  }
  
  /* The Close Button */
  .close {	
	position: absolute; /* Position the close button absolutely within the container */
	top: 10px; /* Adjust the top position as needed */
	right: 10px; /* Adjust the right position as needed */
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label{
	font-size: 3rem;
  }

input{
	margin-top: 5px;
	height: 2rem;
}

#submit-btn{
	margin-top: 10px;
	height: 30%;
	width: 10%;
}
