body{
    background-color: white;
}

* {
    margin-right: 0px;
    margin-left: 0px;
}

.header{
    display: flex;
    flex-direction: row;   
    margin-left: 10%;
    margin-right: 12%;
    margin-bottom: 169px;
    margin-top: 89px;
    
    justify-content: space-evenly;
}

#header-left h1{
    /* Font */
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: left;
    color: #211D16;
}

.img-container img{
    height: 105%; /* Take up the entire height of the parent item */
    width: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Scale the image to cover the entire space */
}

#header-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#header-left button{
    padding: 1rem 3rem 1rem 3rem;
    color:white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
    text-align: center; 
    background: #3C4F75;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 10px;
}

.members{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #EDE9E2;
}

.members >  h1{
    display: inline-block;
    margin: 2rem 0 0 2rem;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 67.6756px;
    text-align: start;
    padding-top: 0;
    padding-bottom: 3rem;
}

.gallery{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.gallery > h1{
    text-align: center;
    font-size: 42.9189px;
    padding-top: 2rem;
}

.gallery-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}

.card h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32.1892px;
    text-align: center;
}

.card {
  display: inline-flex;
  flex-direction: column;
  max-width: 30%;
  gap: 1.5rem;
}

.card > img {
  max-width: 100%;
  border: 1px solid;
}

.card > h1{
    padding-left: 1.5rem;
}

.navbar{
    margin-bottom: 50px;
}

h1{
    padding-top: 70px;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    color: #1D3159;
}

