body{
    background-color: white;
}

*{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    flex-direction: row;   
    justify-content:space-between;
    width: 100vw;
    gap: 5%;
    margin: 0px;
}

#header-image{
    margin: 89px 147px 169px 0;
    height: 75%;
    width: 48%;
    border-radius: 2px;
    border-style: solid;
}

#header-left h1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    margin-top: 89px;
    height: 17rem;
    width: 25rem;
    border: 2px solid;
    font-size: 40px;
}

#header-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-left: 8%;
}

#header-left button{
    padding: 20px 46px 20px 46px;
    margin-bottom: 169px;
    font-size: 30px;   
}

.members{
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid black;
}

.members > h1{
    padding-left: 2rem;
}

.gallery{
    display: flex;
    flex-direction: column;
    margin: 0 3rem 0 3rem;
    margin-top: 10rem;
}

.gallery-image{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 8rem;
}

.card {
  display: inline-flex;
  flex-direction: column;
  max-width: 30%;
  gap: 1.5rem;
}

.card > img {
  max-width: 100%;
  border: 2px solid black;
}

.card > h1{
    padding-left: 1.5rem;
}

