body{

}

.header{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    color: #1D3159;
}

.header > h1{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 82px;
    margin-bottom: 0;
}

.header > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 168.68%;
    color: #241E14;
    margin-top: 1rem;
}

.content{
    padding-left: 3rem;
    padding-right: 3rem;
}

.content h2{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #1D3159;
    margin-bottom: 0;
}

.history{
    padding: 5rem;
}

.history h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #241E14;
}

.history div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: left;
    padding-top: 3rem;
}

.history div > img{
    width: 50%;
    border: 2px solid black;
}

.core-values{
    padding: 5rem;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top:5rem;
    gap: 10rem;
}

.gallery p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #A6926D;
}

.gallery div{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.culture{
    padding: 5rem;
}

.culture-text{
    padding-top: 3rem;
}

.culture-text h3{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
    color: #A6926D;
    margin-top: 0;
    margin-bottom: 0;
}

.culture-text h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    max-width: 70%;
    margin-top: 2rem;
    padding-left: 0.5rem;
    
}

.culture > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#image-gallery{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 4rem;
}

.contact > h2{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
}

.contact h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
}

.contact div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}
