.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 77px;
    line-height: 105px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
  
.subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 168.68%;
    text-align: center;
    color: #000000;
}

.past-event-highlights-title {
    left: calc(50% - 403px/2 - 428.5px);
    top: 513px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    color: #000000;
}
  
.section {
    margin-bottom: 50px;
}
  
.section-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150.18%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
  
.image-container {
    display: flex;
    overflow: auto;
    padding: 10px 0;
    width: 100%; /* Adjust this value as needed */
    height: 200px; /* Adjust this value as needed */
}
  
.image-container img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.past-event-highlights-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.prev-arrow, .next-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
  
.prev-arrow {
    margin-right: 10px;
}
  
.next-arrow {
    margin-left: 10px;
}