#container {
    display: flex;
    flex-direction: row;
}

#content {
    width: 100vw;
}

.page-title {
    font-size: 24px;
    margin: 24px 0px 21px 23px;
    font-family: 'Inter', sans-serif;
}

.section-title {
    font-size: 20px;
    margin: 40px 0px 9px 33px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.input-title {
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 4px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.input-container {
    margin-bottom: 10px;
}

#upcoming-events-section {
    display: flex;
    flex-direction: row;
    margin-left: 33px;
}

#event-name-and-description {
    display: flex;
    flex-direction: column;
    width: 328px;
}

#event-image {
    display: flex;
    flex-direction: column;
    width: 309px;
    margin-left: 58px;
}

.text-row-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}

.word-count {
    font-size: 12px;
    margin-left: auto;
    color: #6B6F80;
    margin-bottom: 4px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

#upcoming-events-section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 60%;
}

#upcoming-events-sub-section {
    display: flex;
    flex-direction: column;
    width: 45%;
}

textarea {
    box-sizing: border-box;
    resize: none;
    border-radius: 0.25rem;
    border: 1px solid var(--neutral-neutral-30, #BBBFCC);
    padding: 0.75rem 1rem;
    align-items: center;
}

textarea::placeholder {
    font-size: 16px;
    color: #6B6F80;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

#name-input, #link-input {
    height: 48px;
    padding: 12px 16px;
}

#description-input {
    height: 204px;
    padding: 12px 16px;
}

.required {
    color: red;
}

.value-input {
    box-sizing: border-box;
    resize: none;
    height: 48px;
    border: 1px solid #BBBFCC;
    border-radius: 4px;
}

.value-input::placeholder {
    font-size: 16px;
    color: #6B6F80;
    font-weight: 400;
}

#upcoming-events-event-image {
    display: flex;
    justify-content: flex-end;
    background: url("/source/assets/placeholder-image.png") center/cover ;
    width: 19.30763rem;
    height: 13.22038rem;
    fill: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
    border: 1px solid #BBBFCC;
}

.pencil-button {
    width: min-content;
    height: min-content;
    border: none;
    cursor: pointer;
    background: none;
}

.past-events-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-left: 23px;
}

.box {
    width: calc(20% - 20px);
    padding-bottom: calc(20% - 20px);
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    background: url("/source/assets/placeholder-image.png") center/cover ;
    border: 1px solid #BBBFCC;
}

.plus-box {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border: 1px solid #BBBFCC;
}

.plus-box span {
    position: absolute; 
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.interactive {
    position: absolute;
    top: 0px;
    right: 1px;
    cursor: pointer;
}
