html, body{
    margin: 0;
}

h2{
    margin:0;
    color: #141519;
    font-family: Noto Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.01563rem;
}

h3{
    margin-bottom: 0.1rem;
    color: #141519;
    /* Body/Large/Emphasis */
    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.01563rem;
}

#container{
    display: flex;
    flex-direction: row;
}

#header{
    margin: 0px;
    margin-bottom: 0px;
    padding: 1.5rem 59.0625rem 1.3125rem 1.4375rem;
    border-bottom: 1px solid #DEE1EB;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(10px);
    width: 100%;
}

#main{
    margin:0;
    padding: 2.44rem 3rem 2.44rem 3rem;
}


#title-section p{
    margin:0;
    color: #6B6F80;
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}

#title-section textarea{
    padding: 1rem;
}

#title-img {
    margin-top: 1.25rem;
}

svg{
    margin-top: 0.5rem;
}

.svg-btn{
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    left: 17.25rem;
    top: 0.25rem;
}

.img-container{
    position: relative;
}


#event-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

#upcoming-events{
    margin-top: 2.53rem;
}

textarea{
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--neutral-neutral-30, #BBBFCC);
    padding: 0.75rem 1rem;
    width: 18.5rem;
    height: 12.75rem;

    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.01563rem;
}

input{
    width: 18.5rem;
    height: 1.5rem;
    padding: 0.75rem 1rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--neutral-neutral-30, #BBBFCC);

    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.01563rem;
}

#event-img img{
    margin: 0.3rem;
    width: 40%;
    border: 1px solid #BBBFCC;
}

#event-btn{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#event-btn button{
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    border: 1px solid #DADADA;
    background: #FFF;
    cursor: pointer;

    color: #000;
    text-align: center;
    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: -0.01563rem;
}

#sponsor-logos {
    margin-top: 2.53rem;
}

#show-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.31rem;
    margin-top: 1.38rem;
}

.svg-btn-small{
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    left: 8.7rem;
    top: 0.3rem;
}

#plus{
    position: absolute;
    width: 2rem;
    height: 1.75rem;
    color: #BBBFCC;
    text-align: center;
    font-family: Noto Sans;
    font-size: 6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: -0.01563rem;

    left:3.5rem;
    top:4rem;

    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
