* {
  margin-right: 0px;
  margin-left: 0px;
}

body {
    padding-top: 80px; 
  }

.header{
    display: flex;
    flex-direction: row;
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin: 10rem;
 }

#header-title{
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 82px;
  /* identical to box height */
  
  text-align: center;
  
  /* Dark Blue/500 Base */
  
  color: #172940;
  text-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.03);
}


#join p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;

  /* Light Gold/900 */

  color: #211D16;

  /* lg */

  text-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.03);
}

#join h2{

  /* Header 2 */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: left;

  /* Dark Blue/400 */
  color: #33465F;

  /* lg */
  text-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.03);

}

#join-button{
  padding: 1.375rem 2.875rem 1.3125rem 3rem;
  border-radius: 0.625rem;
  background: var(--light-blue-400, #3C4F75);

  color: white;
  text-align: center;
  /* Primary CTA Text */
  font-family: Open Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#intro{
  justify-content: center;
  align-items: start;
  margin: 10rem;
}

#intro h2{

  /* Header 2 */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: left;

  /* Light Blue/400 */
  color: #3C4F75;

}

#intro p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;

  /* Light Gold/900 */

  color: #211D16;

  /* lg */

  text-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.03);

}

#intern-program-image{
  width: 43.3125rem;
  height: 26.1875rem;
  object-fit: cover;
}

#intern-program-description{
  min-height: 12.75rem;
  max-width: 25rem;
  text-align: start;
}

#past-projects-container{
  margin: 10rem;
}

#how-image{
  display: block;
  margin: auto;
}

#past-projects-container h2{

  /* Header 2 */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: left;

  /* Light Blue/400 */
  color: #3C4F75;

}
#past-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.past-projects img{
  /* width: 30%;  */
  object-fit: cover;
}