body {
    padding-top: 80px; 
  }

.header{
    display: flex;
    flex-direction: row;
    /* border: 2px solid; */
    justify-content: center;
    align-items: start;
    margin: 10rem;
 }

#header-title{
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 82px;
  /* identical to box height */
  
  text-align: center;
  
  /* Dark Blue/500 Base */
  
  color: #172940;
  text-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.03);
}


#join-image{
  border: 1px solid;    
}

#join p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;

  /* Light Gold/900 */

  color: #211D16;

  /* lg */

  text-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.03);
}

#join h2{

  /* Header 2 */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: left;

  /* Dark Blue/400 */
  color: #33465F;

  /* lg */
  text-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.03);

}

#join button{

  
  /* Light Blue/400 */
  background: #3C4F75;
  /* xl */
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 10px;

  /* Primary CTA Text */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  text-align: center;

  /* Dark Gray/0 */
  color: #FFFFFF;
}

#intro{
  justify-content: center;
  align-items: start;
  margin: 10rem;
}

#intro h2{

  /* Header 2 */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: left;

  /* Light Blue/400 */
  color: #3C4F75;

}

#intro p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;

  /* Light Gold/900 */

  color: #211D16;

  /* lg */

  text-shadow: 0px 12px 16px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.03);

}

#show{
  justify-content: center;
  align-items: start;
  margin: 10rem;
}

#show h2{

  /* Header 2 */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: left;

  /* Light Blue/400 */
  color: #3C4F75;

}
.show-image{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.show-image img{
  width: 30%; 
  border: 1px solid;
}